@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body{
 
    font-family: "Poppins", sans-serif;
    /* background-image: url(./assets/Bg/body-bg.jpg); */
    background: #0d0d0d;

}
:root{
    --color-main: #0e1726;
    --color-main2: #182335;
    --sub-text: #8f96a0;
    --bg-item: #1e2c43;
    --sub-text-blue: #8bbadd;
    --text-color-hover: #3c8bc6;
}


@layer utilities {
    .bg-custom-image {
      background-image: url('./assets/Bg/body-bg.jpg');
      
    }
  
    
}

  


  /* custom-scrollbar.css */
::-webkit-scrollbar {
  width: 12px; /* Chiều rộng của thanh cuộn */
}

::-webkit-scrollbar-track {
  background: #070c13; /* Màu nền của thanh cuộn */
}

::-webkit-scrollbar-thumb {
  background-color: #263855; /* Màu của thanh trượt */
  /* Bo tròn thanh trượt */
  border: 3px solid #263855; /* Viền của thanh trượt */
}

/* Thiết lập mũi tên lên xuống */
/* .scrollbar-custom::-webkit-scrollbar-button {
    display: block;
    height: 1px;
    width: 100%;
  }
  
  .scrollbar-custom::-webkit-scrollbar-button:vertical:decrement {
    background-color: #888;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-button:vertical:increment {
    background-color: #888;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  } */

/* css swiper */

  .swiper-scrollbar {
    background: #1e2c43 !important;
    height: 2px !important;
    width: 100% !important;
    left: 0 !important;
    right: 0 !important;
  }
  
  .swiper-scrollbar-drag {
    background:#8bbadd !important;
  }




